* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

header{
    height: 56px;
}

.left-section{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}

.left-section img{
    width: 150px;
}

.mid-section{
    display: flex;
    align-items: center;
}

.mid-section form{
    display: flex;
    height: 40px;
    width: 100%;
}

.mid-section input{
    border-radius: 2px 0 0 2px;
    padding: 12px;
    font-size: 1.6rem;
    border-color: solid #d3d3d3;
}

.mid-section button{
    width: 64px;
    border-radius: 0 20px 20px 0;
    padding-top: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
    border-color: solid #d3d3d3;
}

.mid-section button:hover{
    background-color: #f0f0f0;
}

.mid-section .mic{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f9f9f9;
    margin-left: 10px;
}

.right-section{
    display: flex;
    
}

.content-area {
    height: calc(100vh - 56px);
    background-color: #f9f9f9;
}

aside {
    height: 100%;
    width: 280px;
    background-color: white;
    overflow-y: auto;
}

nav {
    width: 100%;
    margin: 15px 0;
    padding-right: 15px;
}

.nav-link {
    padding: 10px 16px;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, .05);
}

.nav-link span {
    margin-left: 24px;
    font-size: 1.4rem;
    line-height: 2em;
    font-weight: 400;
    color: #030303;
}

.active {
    background-color: #e5e5e5;

}

#active-span {
    font-weight: 500;
}

hr {
    height: 2px;
    background-color: #e5e5e5;
    border: none;
    margin: 10px 0;

}

nav p {
    font-size: 1.4rem;
    color: #606060;
    font-weight: 500;
    padding: 8px 16px;
    text-transform: uppercase;
}

.channel-img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
/*start main*/
main{
    font-family: 'Roboto', sans-serif;
    overflow-y: auto;
    
}
main .profile{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    
}
main a{
    text-decoration: none;
    color: black;
}
main .card-title{
    font-size: 1.6rem;
}
main .card-text{
    font-size: 1.4rem;
}
main span{
    font-size: 1.2rem;
}
/*end main*/


